<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - College Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body ng-app="collegeManagementApp">
    <header class="topbar">
        <div class="menu-button" onclick="changeSideMenuState()">
            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
        </div>
        <div>
            <h1>College management system</h1>
        </div>
    </header>
    <main style="display: flex">
        <div id="side-menu">
            <a class="side-menu-item" href="/Course/Index">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                <h4>Courses</h4>
            </a>
            <a class="side-menu-item" href="/Teacher/Index">
                <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                <h4>Teachers</h4>
            </a>
            <a class="side-menu-item" href="/Student/Index">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <h4>Students</h4>
            </a>
        </div>
        <div>
            @RenderBody()
        </div>
    </main>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            jQuery.noConflict();
        });

        function changeSideMenuState(e) {
            var sideMenuEl = document.getElementById('side-menu');
            if (sideMenuEl.classList.contains('side-menu-active')) {
                sideMenuEl.classList.remove('side-menu-active');
            } else {
                sideMenuEl.classList.add('side-menu-active');
            }

        }
    </script>
</body>
</html>